{{ if $.Param "mermaid" }}
{{- $mermaid := resources.Get "styles/js/mermaid.min.js" -}}

{{- /* Calculate hash */ -}}
{{- $jsHashSource := $mermaid | resources.Fingerprint "sha512" -}}
{{- $jsHash := md5 $jsHashSource.Data.Integrity -}}

{{- /* Concatenate to build */ -}}
{{- $buildName := print $jsHash "/js/mermaid.min.js" -}}
{{- $js := slice $mermaid | resources.Concat $buildName -}}

{{- $jsHashSource = $js | resources.Fingerprint "sha512" -}}

<script src="{{ $js.RelPermalink }}" integrity="{{ $jsHashSource.Data.Integrity }}" async></script>
{{ end }}
