<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {{ partial "head.html" . }}

  <body>
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <header class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/">{{ .Site.Params.Title }}</a>
          </h3>
          <nav class="header-nav">
            {{- $currentPage := . }}
            {{- range .Site.Menus.main -}}
            <a class="header-nav-item{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            {{- end -}}
          </nav>
        </div>
      </header>

      <div class="container content">
